<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.jeffersonschmitt.jksttfilmes">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  
  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity"
        android:theme="@style/JKsstFilmesTheme">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:label="@string/detalhe_activity_label"
        android:name=".FilmeDetalheActivity"
        android:parentActivityName=".MainActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <activity
        android:label="@string/settings_activity_label"
        android:name=".SettingsActivity"
        android:parentActivityName=".MainActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <provider android:authorities="@string/content_authority"
        android:name=".data.FilmesProvider"
        android:exported="false"/>

    <service android:name=".service.FilmesIntentService"/>
    <service android:name=".sync.FilmesAuthenticatorService">

      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator"/>
      </intent-filter>
      <meta-data android:name=".sync.FilmesAuthenticatorService" android:resource="@xml/authenticator"/>
    </service>

    <service android:name=".sync.FilmesSyncService">
      <intent-filter>
        <action android:name="android.content.SyncAdapter"/>
      </intent-filter>
      <meta-data android:name="ndroid.content.SyncAdapter" android:resource="@xml/syncadapter"/>
    </service>




    <receiver android:name=".FilmesReceiver" android:enabled="true"/>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="7d1464ad373f7967ecbe57f56149be5b01635d98"/>


  </application>

</manifest>